<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuario</title>
    <style>
        .error {color: #FF0000;}
    </style>
</head>
<body>

<h2>Formulario de Registro</h2>
<p><span class="error">* campo requerido</span></p>

<form method="post" id="registerForm" action="/security/signupDo/" >
    <label for="nombre">Nombre:</label><span class="error">*</span><br>
    <input type="text" id="nombre" name="nombre" required><br>

    <label for="email">Email:</label><span class="error">*</span><br>
    <input type="email" id="email" name="email" required><br>

    <label for="password">Contraseña:</label><span class="error">*</span><br>
    <input type="password" id="password" name="password" minlength="8" required><br>

    <label for="role">Rol:</label><span class="error">*</span><br>
    <input type="text" id="role" name="role" required><br>

    <input type="submit" value="Registrar">
</form>

<script>
    document.getElementById("registerForm").addEventListener("submit", function(event){
        var nombre = document.getElementById("nombre").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var role = document.getElementById("role").value;

        if(nombre === "" || email === "" || password === "" || role === "") {
            alert("Todos los campos son obligatorios");
            event.preventDefault();
        } else if (password.length < 8) {
            alert("La contraseña debe tener al menos 8 caracteres");
            event.preventDefault();
        }
    });
</script>

</body>
</html>


</body>
</html>